{% extends 'components/wk-input.twig' %}

{% block main %}
<div 
    class="wk-checkbox {{ disabled is same as(true) ? 'wk-checkbox--disabled' }} {{ mode == 'switch' ? 'wk-checkbox--switch' }}"
    data-inputid="{{ id }}"
    data-name="{{ name }}"
>
    {% if mode == 'switch' %}
        <button 
            class="wk-checkbox-switch {{ disabled is same as(true) ? 'wk-checkbox-switch--disabled' }}"
            {{ disabled is same as(true) ? 'disabled' : '' }}
            id="{{ id }}"
        >
            {% if showSwitchIcons is same as(true) %}
                <svg class="wk-checkbox-switch__icon wk-checkbox-switch__icon--off" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                </svg>
                <svg class="wk-checkbox-switch__icon wk-checkbox-switch__icon--on" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                </svg>
            {% endif %}
            <div class="wk-checkbox-switch__fill"></div>
        </button>
    {% else %}
        <button 
            class="wk-checkbox-button {{ disabled is same as(true) ? 'wk-checkbox-button--disabled' }}"
            {{ disabled is same as(true) ? 'disabled' : '' }}
            id="{{ id }}"
        >
            <div class="wk-checkbox-button__fill"></div>
            <svg class="wk-checkbox-button__icon" width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 6.25L3.5 8.75L11 1.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    {% endif %}

    {% if block('label') is defined  %}
    <div 
        class="wk-checkbox__label"
        data-inputid="{{ id }}"
    >
        {{ block('label')|raw }}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block input_hint %}
    {% block hint %}{% endblock %}
{% endblock %}

{% block scripts %}
<script>
    (function(){
        window.wkInputs['{{ id }}'] = new WkCheckbox({
            el: document.getElementById('{{ id }}'),
            true_value: '{{ trueValue is defined ? trueValue : "true" }}',
            false_value: '{{ falseValue is defined ? falseValue : "false" }}',
            multiple: "{{ multiple is same as (true) ? 'true' : 'false' }}",
            value: '{{ value }}',
            name: '{{ name }}',
            mode: '{{ mode ? mode : "checkbox"}}',
            activeLabel: "{{ activeLabel is defined ? activeLabel is same as (true) ? 'true' : 'false' }}"
        });
    })();
</script>
{% endblock %}