{% extends 'components/wk-input.twig' %}

{% block input_label %}
    {% block label %}{% endblock %}
{% endblock %}

{% block main %}
<div 
    class="wk-text-field {{ disabled is same as(true) ? 'wk-text-field--disabled' }}"
    data-inputid="{{ id }}"
> 

    {% if block('prepend') is defined  %}
    <div class="wk-text-field__prepend">
        {{ block('prepend')|raw }}
    </div>
    {% endif %}

    {% if prefix is defined and prefix != '' %}
    <div class="wk-text-field__prefix">
        {{ prefix }}
    </div>
    {% endif %}

    <div 
        class="wk-text-field__tfield"
        data-inputid="{{ id }}"
    >
        <input 
            type="{{ type is defined ? type : 'text' }}"
            {{ disabled is same as(true) ? 'disabled' : '' }}
            class="wk-text-field__input"
            id="{{ id }}"
            name="{{ name }}"
            value="{{ value }}"
        />
        <div 
            class="wk-text-field__placeholder"
            data-inputid="{{ id }}"
        >
            {{ placeholder }}
        </div>
    </div>

    {% if suffix is defined and suffix != '' %}
    <div class="wk-text-field__suffix">
        {{ suffix }}
    </div>
    {% endif %}

    {% if block('append') is defined  %}
    <div class="wk-text-field__append">
        {{ block('append')|raw }}
    </div>
    {% endif %}

</div>
{% endblock %}

{% block input_hint %}
    {% block hint %}{% endblock %}
{% endblock %}

{% block scripts %}
<script>
    (function(){
        window.wkInputs['{{ id }}'] = new WkTextField({
            el: document.getElementById('{{ id }}')
        });
    })();
</script>
{% endblock %}